@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Heebo", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f8a348;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #373737;
}
